{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">درباره ما</h3>
    </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div dir="rtl" class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                    <img src="{% static 'img/about-img.jpg' %}" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-7"
                style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url({% static 'img/about-img-1.png' %});">
                <h5 class="section-about-title pe-3">درباره ما</h5>
                <h1 class="mb-4"> به <span class="text-primary">Travela</span> خوش آمدید</h1>
                <p class="mb-4">ما در Travela با هدف فراهم کردن بهترین تجربه سفر، خدمات گردشگری متنوعی از جمله پروازهای
                    درجه یک، اقامتگاه‌های مجلل و تورهای شهرگردی ارائه می‌دهیم. تیم ما با سال‌ها تجربه آماده است تا سفر
                    شما را به خاطره‌ای فراموش‌نشدنی تبدیل کند.</p>
                <p class="mb-4">ما متعهد به ارائه کیفیت، راحتی و خدمات ۲۴ ساعته هستیم تا بتوانید با آرامش و اطمینان کامل
                    سفر کنید. با ما همراه باشید تا دنیای جدیدی از سفر را تجربه کنید.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-left text-primary me-2"></i> پروازهای درجه یک </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-left text-primary me-2"></i> هتل‌های منتخب </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-left text-primary me-2"></i> اقامتگاه‌های ۵ ستاره </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-left text-primary me-2"></i> وسایل نقلیه با مدل‌های جدید 
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-left text-primary me-2"></i> ۱۵۰ تور ویژه در شهرهای مختلف 
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-left text-primary me-2"></i> خدمات شبانه‌ روزی </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

{% endblock %}