{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">Travel Packages</h3>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active text-white">Packages</li>
        </ol>
    </div>
</div>
<!-- Header End -->

<!-- Packages Start -->
<div class="container-fluid packages py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Packages</h5>
            <h1 class="mb-0">Awesome Packages</h1>
        </div>

        <div class="packages-carousel owl-carousel">
            {% for package in packages %}
            <div class="packages-item">
                <div class="packages-img">
                    <img src="{{ package.image.url }}" class="img-fluid w-100 rounded-top" alt="Image">
                    <div class="packages-info d-flex border border-start-0 border-end-0 position-absolute"
                        style="width: 100%; bottom: 0; left: 0; z-index: 5;">
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt me-2"></i>{{ package.location }}
                        </small>
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-calendar-alt me-2"></i>{{ package.Number_of_nights }} days
                        </small>
                        <small class="flex-fill text-center py-2">
                            <i class="fa fa-user me-2"></i>{{ package.max_count }} Person
                        </small>
                    </div>
                    <div class="packages-price py-2 px-4">${{ package.price }}</div>
                </div>

                <div class="packages-content bg-light">
                    <div class="p-4 pb-0">
                        <h5 class="mb-0">{{ package.name }}</h5>
                        <small class="text-uppercase">{{ package.hotel }}</small>
                        <div class="mb-3">
                            {% for _ in "12345"|slice:":package.hotel_stars" %}
                            <small class="fa fa-star text-primary"></small>
                            {% endfor %}
                        </div>
                        <p class="mb-4">{{ package.description|truncatewords:20 }}</p>
                    </div>
                    <div class="row bg-primary rounded-bottom mx-0">
                        <div class="col-12 text-center px-0">
                            <a href="{% url 'blog:package_detail' package.id %}"
                                class="btn-hover btn text-white py-2 px-4 d-inline-block">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="text-center w-100">
                <h5 class="mb-0">No Packages Available</h5>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Packages End -->

{% endblock %}